<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1 style="text-align: center;">Node Syntax Parser 1.0</h2>
    <div class="description">
        <p>
            [작동 방식]<br>
            1. 에러 로그를 불러옴(.txt파일)<br>
            2. Preview를 통해 에러를 보여줌<br>
            3. Parsing 버튼을 눌러 에러의 내용을 한글로 변환<br>
            4. Alert 버튼을 눌러 변환된 메시지를 알림해줌.
        </p>
    </div>
    <p style="text-align: center;">아래의 코드를 예제로 진행하였습니다.</p>
    <div class="view-line">
        <p>
            //* UserDefine Start *// <br>
            const userDefine = {<br>
            <br>
            };<br>
            //* UserDefine End *//<br>
            <br>
            isAlive () {<br>
                return false<br>
            }<br>
            async run (input) {<br>
                //* Input Start *//<br>
                const $node = input['node']<br>
                const $pool_group_id = input['pool_group_id']<br>
                const $from = input['from']<br>
                //* Input End *//<br>
                <br>
                let url = '/api/BD1AIPlus/deviceCustomer';<br>
                <br>
                let data = {<br>
                    node: $node,<br>
                    pool_group_id: $pool_group_id,<br>
                    from: $from<br>
                }<br>
                <br>
                let h = new HttpClient()<br>
                try {<br>
                    const res = await h.api(url, data)<br>
                    this.console.log('response:', JSON.stringify(res));<br>
                    this.console.log('response status:', res.status);<br>
                    this.console.log('response data:', JSON.stringify(res.data));<br>
                    <br>
                    const _data = res.data.resultData;<br>
                    <br>
                    return {<br>
                        id: _data.id,<br>
                        rdate: _data.rdate,<br>
                        udate: _data.udate,<br>
                        pnode: _data.pnode,<br>
                        name: _data.name,<br>
                        flag: _data.flag,<br>
                        device_type_id: _data.device_type_id,<br>
                        sensor_id: _data.sensor_id,<br>
                        nat_ip: _data.nat_ip,<br>
                        device_ip: _data.device_ip,<br>
                        delimiter: _data.delimiter,<br>
                        port: _data.port,<br>
                        ssh_id: _data.ssh_id,<br>
                        ssh_pwd: _data.ssh_pwd,<br>
                        ssh_port: _data.ssh_port,<br>
                        network_img: _data.network_img,<br>
                        img_data_url: _data.img_data_url,<br>
                        img_size: _data.img_size,<br>
                        user_id: _data.user_id,<br>
                        delete_flag: _data.delete_flag,<br>
                        ip_type: _data.ip_type,<br>
                        admin_mail: _data.admin_mail<br>
                    }<br>
                } catch(e) {<br>
                    throw e<br>
                }<br>
            }<br>
        </p>
    </div>
    

    <form action="/syntax", method="POST">
        <button calss="test">Test Button</button>
    </form>

    <form action="/json", method="POST">
        <button calss="test">속성 테스트</button>
    </form>

    <form id="display">
        <div>
            <input type="file" id="file_uploads" accept=".txt" multiple>
        </div>
        <div class="preview">
            Preview<br>
        </div>
    </form>

    <div class="parsing_div">
        <button class="parsing" onclick="js:setResult()">Parsing</button>
    </div>

    <div id=result>
        Result<br>
    </div>

    <div class="alert_div">
        <button class="parsing" onclick="js:setAlert()">Alert</button>
    </div>
  </body>
  <script src="/javascripts/error.js"></script>
  <script src="/javascripts/Parsing.js"></script>
  <script src="/javascripts/setData.js"></script>
  <script src="/javascripts/createLog.js"></script>
</html>
